<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gull nivå</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1052.49px; text-align: center; margin-top: 50px;">
          <a href="/templates/hall_of_fame_athletes.html"><h1 style=" color: gold;">Gold Level</h1></a>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main style="padding-top: 150px;">
      <div>
        <h2 style="text-align: center;">Haakon Schram Stokke</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (1977-1986)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Han er Asker svømmeklubbs mest merriterte svømmer på guttesiden. Mellom 1977-86 var Haakon dominant på Norgesmesterkap senior. Med hele 28 gull, 14 sølv og 4 bronse på disiplinene medley, butterfly og fri. Han satt 15 norske seniorrekorder og representerte det norske landslaget. Han deltok på verdensmesterskapet på langbane i 1982 i Ecuador. </p>
      </div>
      <div>
        <h2 style="text-align: center;">Knut Arne Landbø</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (1984-1989)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Han tok 4 nasjonale titler i sin karriere. Fri- og rygg svømmer som representerte Asker svømmeklubb tok til sammen 21 medaljer i Norgesmesterskap senior i perioden 1984-89, herav 4 gull, 14 sølv og 3 bronse.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Øyvind Miller</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (1985-1988)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Under Øyvinds tid i Asker tok han 8 medlajer i norgesmesterkap senior, herav 2 Gull, 3 sølv og 3 bronse. Alle medaljene ble tatt innnenfor svømmeartene Fri og Butterfly. Han fikk også med seg to Norske seniorrekorder på øvelsen 50 fri i langbane. De to rekordene ble satt samme dag på forskjellig tidspunkt.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Lasse Nagell</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (1988-1991)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Lasse var en spesialist innenfor fri svømming som representerte Asker. På distansene 200 og helt opptil 1500 fri tok han medlajer i Norgesmesterkap senior. Han vant 2 gull, 2 sølv og 2 bronse. Medlajene ble vunnet fra 1988-91.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Rune Brath</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (1998)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Rune ble norsk seniormester på 50 bryst kortbane i 1998 og fikk en sølv medalje på 50 fri i samme mesterskap. Rune fikk samme år representere Norge i verdenscupen. </p>
      </div>
      <div>
        <h2 style="text-align: center;">Andre Bratgjerd </h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (1999-2000)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Han hsr flere titler og medaljer i Norgesmesterkap senior, de aller første medlajene kom i hans tid i Asker. Mens han representerte Asker SK fikk han med seg 1 gull, 2 sølv og 4 bronse i senior i stilarten rygg, fly og fri svømming i 1999-2000.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Michael Poulsen</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (2005-2006)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Dansken Michael Poulsen hadde hadde internasjonal erfaring før han kom til Asker, med hans erfaring ble han norsk seniormester på 50 fri langbane i 2005 og i 2006.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Ida Louise Maj Sandin</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (2013)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Ida kom til Asker etter at hun avsluttet sin elitesatsning i Sverige, hun representerte sverige internasjonalt. I sin tid i Asker SK vant hun to medaljer i Norgesmesterskap senior. I 2013 tok hun gull på 200 Meldey i kortbane og i langbane sølv på 200 medley.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Andreas Manum Hagby </h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (2014-2015)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Andreas var en brystspesialist, han vant 4 medaljer i norgesmesterkap senior. Han vant medalje på alle bryst distansene. 2 gull på 200 bryst, et sølv på 100 bryst og et bronse på 50 bryst fra 2014-15.</p>
      </div>
      <div>
        <h2 style="text-align: center;">Sander Klev</h2>
        <h6 style="text-align: center;"><i>-Medaljefangst NM senior sammenheng (2019)</i></h6>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Sander var en ryggspesialist og under Norgesmesterskap kortbnae 2019 i Stavanger ble han norsk senior mester på 100 rygg. Han vant også sølv på de to andre rygg øvelsene 50 og 200 rygg.</p>
      </div>
    </main>
  </body>