<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hall of Fame Athletes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="{{ url_for('static', filename='uploads/Asker_SK_Logo.jpg') }}" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1069.16px; text-align: center; margin-top: 50px;">
          <h1>Hall of Fame</h1>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="{{ url_for('static', filename='uploads/Asker_SK_Logo.jpg') }}" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main style="margin-top: 150px;">
      <h3 style="margin: 0px 100px; text-align: center;">Asker Svømmeklubb har en lang historie innenfor norsk svømming, helt siden 1971. Flere hundretalls medaljer i Norgesmesterskap senior både indivduellt og stafett. Mange titalls norske seniorrekorder er blitt satt og et par internasjonale merrietter. ASK Hall of fame er en utmerkelse fra klubben, her samles utøvere som har utmerket seg ved store presentasjoner på seniornivå for Asker svømmeklubb.</h3>
      <a href="./platinum.html" style="font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800;"><p style="text-align: center;">Platinum Level</p></a>
      <br>
      <a href="./gold.html" style="font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800;"><p style="text-align: center;">Gull Level</p></a>
    </main>
  </body>
</html>