<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1069.16px; text-align: center;">
          <h1>Asker Swim App</h1>
          <br>
          <nav>
            <ul>
              <li><a href="./form.html"><button><h2>Tid for svømmer</h2></button></a></li>
              <!--<li><a href="./templates/tid_for_svømmer.php"><button><h2>Tid for svømmer</h2></button></a></li>-->
              <li><a href="./point_time.html"><button><h2>Point/Time conversion</h2></button></a></li>
              <li><a href="./qualification_times.html"><button><h2>Qualification times</h2></button></a></li>
              <li><a href="./records.html"><button><h2>Merits</h2></button><a></li>
              <li><a href="./hall_of_fame_athletes.html"><button><h2>Hall of fame</h2></button></a></li>
            </ul>
          </nav>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main style="margin-top: 160px;">
      <img src="/static/uploads/20220213-154531.jpg" style="width: 413px; height: 413px; padding-left: 15px; border: 3px;">
      <img src="/static/uploads/20220213-155531.jpg" style="width: 413px; height: 413px; border: 3px;">
      <img src="/static/uploads/20220213-184923-2.jpg" style="width: 413px; height: 413px; border: 3px;">
      <!--<br>
      <img src="/static/uploads/20220213-182441-2.jpg" style="width: 210px; height: 210px;">
      <img src="/static/uploads/20220213-184218.jpg" style="width: 210px; height: 210px;">
      <img src="/static/uploads/20220213-171252.jpg" style="width: 210px; height: 210px;">-->
    </main>
  </body>
</html>
<!--hello

