<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Medal Count</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Medal Count</h1>

    <div class="row">
      <div class="column">
          <table>
            <tr>
              <th colspan="7">National Senior Records Count</th>
            </tr>
            <tr>
              <th>Gold Medals</th>
              <td>104</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Individual</th>
              <td>93</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Relay</th>
              <td>11</td>
              <td>-</td>
              <th>Damer</th>
              <td>9</td>
              <th>Herrer</th>
              <td>2</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Silver</th>
              <td>76</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Individual</th>
              <td>63</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Relay</th>
              <td>13</td>
              <td>-</td>
              <th>Damer</th>
              <td>8</td>
              <th>Herrer</th>
              <td>5</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Bronze</th>
              <td>57</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Individual</th>
              <td>44</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Relay</th>
              <td>13</td>
              <td>-</td>
              <th>Damer</th>
              <td>7</td>
              <th>Herrer</th>
              <td>6</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Total</th>
              <td>237</td>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <th colspan="8">International Medal Count</th>
            </tr>
            <tr>
              <th>World Championships (Longcourse)</th>
              <td>-</td>
              <th>Gold</th>
              <td>0</td>
              <th>Silver</th>
              <td>0</td>
              <th>Bronze</th>
              <td>1</td>
            </tr>
            <tr>
              <th>European Championships (Shortcourse)</th>
              <td>-</td>
              <th>Gold</th>
              <td>0</td>
              <th>Silver</th>
              <td>1</td>
              <th>Bronze</th>
              <td>1</td>
            </tr>
            <tr>
              <th>European Championships (Longcourse)</th>
              <td>-</td>
              <th>Gold</th>
              <td>1</td>
              <th>Silver</th>
              <td>0</td>
              <th>Bronze</th>
              <td>1</td>
            </tr>
            <tr>
              <th>World Cup</th>
              <td>-</td>
              <th>Gold</th>
              <td>1 (Relay)</td>
              <th>Silver</th>
              <td>0</td>
              <th>Bronze</th>
              <td>3</td>
            </tr>
          </table>
          <table>
            <tr>
              <th>Norwegian Records</th>
            </tr>
            <tr>
              <th>Individual</th>
              <td>93</td>
              <td>-</td>
              <th>Damer</th>
              <td>76</td>
              <th>Herrer</th>
              <td>17</td>
            </tr>
            <tr>
              <th>Relay</th>
              <td>5</td>
              <td>-</td>
              <th>Damer</th>
              <td>3</td>
              <th>Herrer</th>
              <td>2</td>
            </tr>
          </table>
        </div>
      </div>
  </body>
</html>