<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Platinum nivå</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1052.49px; text-align: center; margin-top: 50px;">
          <h1>Platinum Level</h1>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main style="padding-top: 150px;">
      <h2 style="text-align: center;">Ingvild Nicoline Nerdrum Snildal</h2>
      <div class="column" style="width: 1263.33px; text-align: center;">
        <img src="/static/uploads/ingvild_snildal.jpg" class="profile-img" style="height: 200px;">
      </div>
      <h6 style="text-align: center;"><i>-Medalje fangst NM senior sammenheng (2005-2013)</i></h6>
      <div class="column" style="width: 1263.33px;">
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Hun er Asker Svømmeklubbs mest merriterte svømmer, med store presentasjoner nasjonalt og internasjonalt. I Senior NM sammenheng fra Asker tiden står hun med hele 49 gull, 11 sølv og 5 bronse i dispiplinene fri, rygg, butterfly og medley. 76 Norske seniorrekorder satt hun også i løpet av den tiden, herav 29 i kortbane og 47 i langbane. Kongepokalen har hun fått utdelt tre ganger, 2007, 2009 og 2013.</p>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Ingvild representerte også det norske landslaget. Internasjonalt står Ingvild med flere medaljer. I 2012 ble hun europamester på 100 Butterfly i langbane EM i Debrecen. I EM-sammenheng innehar hun 1 gull, 1 sølv og 2 bronse. Itillegg har hun en VM bronse og 5 medaljer fra World cup, 1 sølv og 3 bronse samt 1 gull fra stafett med Norge.</p>
        <p style="text-align: center; width: 800px; padding-left: 231.665px;">Hun deltok på to Olympiske leker, Bejing 2008 og London 2012. I sesongen 2008/09 og 2011/12 ble hun årets svømmer i Norge og itillegg har hun vunnet prisen årets gjennombrudd på idrettsgalaen 2010.</p>
      </div>
    </main>
  </body>