<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Point/Time conversion</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1069.16px; text-align: center; margin-top: 50px;">
          <h1>Point/Time conversion</h1>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main style="text-align: center;">
      <h1>_</h1>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="column" style="width: 640;">
          <h1>Women</h1>
          <br>
          <a href="./w_point_time_LCM.html"><button><h2>Point to Time conversion Long Course Meters</h2></button></a>
          <br>
          <a href="./w_point_time_SCM.html"><button><h2>Point to Time conversion Short Course Meters</h2></button></a>
          <br>
          <a href="./w_time_point_LCM.html"><button><h2>Time to Point conversion Long Course Meters</h2></button></a>
        </div>
        <div class="column" style="width: 640;">
          <h1>Men</h1>
          <br>
          <a href="./m_point_time_LCM.html"><button><h2>Point to Time conversion Long Course Meters</h2></button></a>
          <br>
          <a href="./m_point_time_SCM.html"><button><h2>Point to Time conversion Short Course Meters</h2></button></a>
          <br>
        </div>
      </div>
    </main>
  </body>
</html>
