<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Qualification times</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1052.49px; text-align: center; margin-top: 50px;">
          <h1>Kvalifiseringstider - Diverse stevner og mesterskap</h1>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main>
      <h1 style="text-align: center; padding-top: 150px;">UM/NM 2022-2023</h1>
      <iframe src="/static/uploads/kvalifiseringskrav_UM-NM_2022-2023.pdf" frameborder="0" height="200px" width="500px" style=""></iframe>
    </main>
    <footer>

    </footer>
  </body>
</html>