<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Qualification times</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header style="height: 150px; background-color: white;">
      <div class="row">
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1052.49px; text-align: center; margin-top: 50px;">
          <h1>Kvalifiseringstider - Diverse stevner og mesterskap</h1>
        </div>
        <div class="column" style="width: 105.42px;">
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
      </div>
    </header>
    <main>
      <h1 style="text-align: center; padding-top: 150px;">UM/NM 2022-2023</h1>
      <iframe src="/static/uploads/kvalifiseringskrav_UM-NM_2022-2023.pdf" frameborder="0" height="750px" width="1000px" style="padding-left: 140px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">Regionslag 2021-2022</h1>
      <iframe src="/static/uploads/Krav-til-region-Ost-2021-22.pdf" frameborder="0" height="2268px" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">Landslagskrav Kortbane 2021-2022</h1>
      <iframe src="/static/uploads/Landslagskrav-2021-2022-kortbane.pdf" frameborder="0" height="2268px" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">Landslagskrav Langbane 2021-2022</h1>
      <iframe src="/static/uploads/Landslagskrav-2021-2022-langbane.pdf" frameborder="0" height="2268px" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">Nordisk UM 2022</h1>
      <iframe src="/static/uploads/NUM-2022.pdf" frameborder="0" height="2268pc" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">EYOF 2022</h1>
      <iframe src="/static/uploads/EYOF-2022-Krav.pdf" frameborder="0" height="2268pc" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">Junior EM 2022</h1>
      <iframe src="/static/uploads/Junior-EM-2022-Krav.pdf" frameborder="0" height="2268pc" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">EM Langbane 2022</h1>
      <iframe src="/static/uploads/Vurderingskrav-EM-langbane-2022.pdf" frameborder="0" height="2268pc" width="803px" style="padding-left: 238px;"></iframe>
      <h1 style="text-align: center; padding-top: 150px;">VM Langbane 2022</h1>
      <iframe src="/static/uploads/VM-langbane-2022-krav.pdf" frameborder="0" height="2268pc" width="803px" style="padding-left: 238px;"></iframe>

    </main>
    <footer>

    </footer>
  </body>
</html>