<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <title>User : {{ user.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/css/add_s_data.css">
    <link rel="stylesheet" type="text/css" href="../static/fontawsome/css/all.css">
-->
</head>
<body>

  <div class="user">
    <p>Event: {{ user.event }}</p>
    <p>Time: {{ user.time }}</p>
    <p>Points: {{ user.points }}</p>
    <p>Date: {{ user.date }}</p>
    <p>Pool: {{ user.pool }}</p>
  </div>


</body>
</html>