<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Point/Time conversion Short Course Meters Women</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dropdown.css">
</head>
<header style="height: 150px; background-color: white;">
    <div class="row">
        <div class="column" style="width: 105.42px;">
            <!--Logo + Link to index page-->
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
        <div class="column" style="width: 1069.16px; text-align: center; margin-top: 50px;">
            <!--Header linking back to Point/Time conversion page-->
            <a href="point_time.html"><h1>Point to Time conversion Short Course Meters Women</h1></a>
        </div>
        <div class="column" style="width: 105.42px;">
            <!--Logo + Link to index page-->
          <a href="index.html"><img src="/static/uploads/Asker_SK_Logo.jpg" class="profile-img" style="height: 150px;"></a>
        </div>
    </div>
</header>
<body style="padding-top: 150px;">
	<script>
        //calcNumbers executes following the onClick event of the buttons in the form
        //calcNumbers take the number that is clicked and copies it into the displayPoints field of the form
        //if an additional number is clicked, this will be placed after the first one
        //pressing 1, then 3, leaves 13 in the displayPoints field
	function calcNumbers(result){
		form.displayPoints.value=form.displayPoints.value+result;
		
	}
    
        //eventDisplay executes following the onClick event of the items in the dropdown menus
        //when an event is selected and clicked on, eventDisplay will take the given event and copy it into the dsiplayEvent field of the form
    function eventDisplay(result){
        form.displayEvent.value=result;
        
    }
        //baseDisplay is a dictionary contaning pairs of an abreviation for a given event, and the corresponding base time which will be used to perform calculations
        //when an event is selected from a dropdown menu, the base time corresponding to said event is selected from baseDisplay
    function baseDisplay(result){
        let lc_basetime={
            "fiftyfr": 22.93,
            "hundredfr": 50.25,
            "twofr": 110.43,
            "fourfr": 233.92,
            "eightfr": 479.34,
            "fifteenfr": 918.01,
            "fiftyback": 25.60,
            "hundredback": 54.89,
            "twoback": 118.94,
            "fiftybreast": 28.56,
            "hundredbreast": 62.36,
            "twobreast": 134.57,
            "fiftybut": 24.38,
            "hundredbut": 54.61,
            "twobut": 119.61,
            "hundredmed": 56.51,
            "twomed": 121.86, 
            "fourmed": 258.94,
            "fiftyfrrelay":92.50,
            "hundredfrrelay": 206.53,
            "twofrrelay": 452.85,
            "fiftymedrelay": 102.38,
            "hundredmedrelay": 224.52
        };
    
            //base contains the given base time following the selection of an event from a dropdown menu
            //base is used in the calculation of time from points
        base=lc_basetime[result];
    }
    

        //resultDisplay takes the calculated time and displays it in a fitting format
    function resultDisplay(){
        //checking if there are any whole minutes in the calculated time
        if (minutes > 0){
            //checking if there are zero whole houndreds in the calculated time
            if (hundreds.length == 1){
                //checking if there are zero whole seconds in the claulcated time
                if (seconds.length == 1){
                    //if all are true, there are X minutes, 0 seconds and 0 hundrds
                    //resultDisplay prints X.0,0 in displayResult
                    form.displayResult.value=minutes.toString()+".0"+seconds+",0"+hundreds;
                } else{
                    //else if seconds > 0
                    //there are X minutes, Y seconds and 0 hundreds
                    //resultDisplay prints X.Y,0
                    form.displayResult.value=minutes.toString()+"."+seconds+",0"+hundreds;
                }
                //else if there are zero whole seconds but one or more minutes and hundreds
            } else if (seconds.length == 1){
                //there are X minutes, 0 seconds and Z hundreds
                //resultDisplay prints X.0,y
                form.displayResult.value=minutes.toString()+".0"+seconds+","+hundreds;
                //else if there are zero seconds and zero hundreds
            } else{
                //there are X minutes, 0 seconds and 0 hundreds
                //resultDisplay prints X.0,0
                form.displayResult.value=minutes.toString()+"."+seconds+","+hundreds;
            }
            //else if there are zero minutes and zero hundreds
        } else {
            //there are only Y seconds
            //resultDisplay will print Y,0
            if (hundreds.length == 1){
                form.displayResult.value=seconds+",0"+hundreds;
                //else if there are 0 minutes
                //resultDisplay will print Y,Z
            } else{
                form.displayResult.value=seconds+","+hundreds;
            }
            
        }      
    }
    


	</script>
    <!--Form that contains information provided by the user-->
	<div class="container">
		<form name="form">
            <!--what will be displayed-->
		<div class="display">
            <input type="text" placeholder="Points" name="displayPoints" />
            <input type="text" readonly placeholder="Event" name="displayEvent" />
            <input type="text" readonly placeholder="Calculate time" name="displayResult" />
		</div>
            <!--the buttons to push to enter points-->
			<div class="buttons">
			    <div class="row">
				    <input type="button" name="b7" value="7" onClick="calcNumbers(b7.value)">
                    <input type="button" name="b8" value="8" onClick="calcNumbers(b8.value)">
                    <input type="button" name="b9" value="9" onClick="calcNumbers(b9.value)">
				</div>
				
				<div class="row">
                    <input type="button" name="b4" value="4" onClick="calcNumbers(b4.value)">
                    <input type="button" name="b5" value="5" onClick="calcNumbers(b5.value)">
                    <input type="button" name="b6" value="6" onClick="calcNumbers(b6.value)">
				</div>
				
				<div class="row">
                    <input type="button" name="b1" value="1" onClick="calcNumbers(b1.value)">
                    <input type="button" name="b2" value="2" onClick="calcNumbers(b2.value)">
                    <input type="button" name="b3" value="3" onClick="calcNumbers(b3.value)">
				</div>
				
				<div class="row">
                    <input type="button" name="b0" value="0" onClick="calcNumbers(b0.value)">
                    <!--reset button to reset form-->
                    <input type="reset" onClick="reset_function()" value="reset">
                    <!--button to calculate time from points-->
                    <input type="button" class="red" value="calculate time" onClick="minutes=parseInt(eval(base/(displayPoints.value/1000)**(1/3))/60), seconds=(parseInt(eval(base/(displayPoints.value/1000)**(1/3))-(minutes*60))).toString(), hundreds=parseInt((((eval(base/(displayPoints.value/1000)**(1/3))-(minutes*60))-seconds).toFixed(2)*100)).toString(), resultDisplay()">
                </div>
			</div>

            <!--dropdown containing all events-->
            <div class="dropdown">
                <button class="dropbtn">Freestyle</button>
                <div class="dropdown-content">
                    <input type="button" name="fiftyfr" value="50 freestyle" onClick="eventDisplay(fiftyfr.value), baseDisplay(fiftyfr.name)">
                    <input type="button" name="hundredfr" value="100 freestyle" onClick="eventDisplay(hundredfr.value), baseDisplay(hundredfr.name)">
                    <input type="button" name="twofr" value="200 freestyle" onClick="eventDisplay(twofr.value), baseDisplay(twofr.name)">
                    <input type="button" name="fourfr" value="400 freestyle" onClick="eventDisplay(fourfr.value), baseDisplay(fourfr.name)">
                    <input type="button" name="eightfr" value="800 freestyle" onClick="eventDisplay(eightfr.value),baseDisplay(eightfr.name)">
                    <input type="button" name="fifteenfr" value="1500 freestyle" onClick="eventDisplay(fifteenfr.value), baseDisplay(fifteenfr.name)">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Butterfly</button>
                <div class="dropdown-content">
                    <input type="button" name="fiftybut" value="50 butterfly" onClick="eventDisplay(fiftybut.value), baseDisplay(fiftybut.name)">
                    <input type="button" name="hundredbut" value="100 butterfly" onClick="eventDisplay(hundredbut.value), baseDisplay(hundredbut.name)">
                    <input type="button" name="twobut" value="200 butterfly" onClick="eventDisplay(twobut.value), baseDisplay(twobut.name)">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Backstroke</button>
                <div class="dropdown-content">
                    <input type="button" name="fiftyback" value="50 backstroke" onClick="eventDisplay(fiftyback.value), baseDisplay(fiftyback.name)">
                    <input type="button" name="hundredback" value="100 backstroke" onClick="eventDisplay(hundredback.value), baseDisplay(hundredback.name)">
                    <input type="button" name="twoback" value="200 backstroke" onClick="eventDisplay(twoback.value), baseDisplay(twoback.name)">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Breaststroke</button>
                <div class="dropdown-content">
                    <input type="button" name="fiftybreast" value="50 breaststroke" onClick="eventDisplay(fiftybreast.value), baseDisplay(fiftybreast.name)">
                    <input type="button" name="hundredbreast" value="100 breaststroke" onClick="eventDisplay(hundredbreast.value), baseDisplay(hundredbreast.name)">
                    <input type="button" name="twobreast" value="200 breaststroke" onClick="eventDisplay(twobreast.value), baseDisplay(twobreast.name)">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Medley</button>
                <div class="dropdown-content">
                    <input type="button" name="hundredmed" value="100 medley" onClick="eventDisplay(hundredmed.value), baseDisplay(hundredmed.name)">
                    <input type="button" name="twomed" value="200 medley" onClick="eventDisplay(twomed.value), baseDisplay(twomed.name)">
                    <input type="button" name="fourmed" value="400 medley" onClick="eventDisplay(fourmed.value), baseDisplay(fourmed.name)">
                </div>
            </div>
		</form>
	</div>
</body>
	
</html>